<h1>Calculator</h1>
<form id='calculator' action='/calculate' method='POST'>
    <div>
        <input name='firstNum'> </input>
        <select name='firstOperator' form='calculator'>
            <option value='+'>+</option>
            <option value='-'>-</option>
            <option value='*'>*</option>
            <option value='/'>/</option>
        </select>
        <input name='secondNum'> </input>
        <select name='secondOperator' form='calculator'>
            <option value='+'>+</option>
            <option value='-'>-</option>
            <option value='*'>*</option>
            <option value='/'>/</option>
        <input name='thirdNum'> </input>
        <select name='thirdOperator' form='calculator'>
            <option value='+'>+</option>
            <option value='-'>-</option>
            <option value='*'>*</option>
            <option value='/'>/</option>
        <input name='forthNum'> </input>
        <button type='submit' >count</button>
    </div>
</form>
